<p id="notice"><%= notice %></p>

<h1>Listing Press Documents</h1>

<table>
  <thead>
    <tr>
      <th>Pdf</th>
      <th>Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @press_documents.each do |press_document| %>
      <tr>
        <td><%= press_document.pdf %></td>
        <td><%= press_document.information %></td>
        <td><%= link_to 'Show', press_document %></td>
        <td><%= link_to 'Edit', edit_press_document_path(press_document) %></td>
        <td><%= link_to 'Destroy', press_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Press document', new_press_document_path %>
