<div class="site-wrapper-inner">
  <div class="cover-container">
	  <div class="inner">
		  
<p id="notice"><%= notice %></p>

<p>
  <strong>Pdf:</strong>
  <%= @press_document.pdf.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @press_document.name %>
</p>


<p>
  <strong>Information:</strong>
  <%= @press_document.information %>
</p>

<%= link_to 'Edit', edit_information_press_document_path(@press_document.information,@press_document) %> |
<%= link_to 'Back', information_press_documents_path %>


    </div>
  </div>
</div>
