<!DOCTYPE html>
<html>
  <head>
    <title>Martha Friedman</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>  
  </head>
  <body>
    <div id="container">
      <header>
	<ul>
	  <li><a class="title" href="#">MARTHA FRIEDMAN</a>
	    <ul>
	      <li style="padding-top:10px" ><%= link_to("3D Gallery", threed_path) %></li>
	      <li><a href="/work">Image Gallery</a></li>
	      <li><a href="/about">About</a></li>
	      <li><a href="/cv">CV</a></li>
	      <% if admin_signed_in? %>
		      <li><%= link_to "work dashboard", works_path %></li>		      
		      <li><%= link_to "edit profile", edit_admin_registration_path %></li>
		      <li><%= link_to "sign out", destroy_admin_session_path, method: :delete %></li>
	      <% end %>
	    </ul>
	  </li>
	</ul>
      </header>

      <!-- if the scene is running already, kill it. very important script,
      keeps the scene from rendering when it's not actually being displayed -->
      <script>
      if (scene) { scene = null; }
      </script>


      <%= yield %>
    </div>
  </body>
</html>
